@import "variables.scss";
@each $redes in facebook, instagram, twitter{
    .footer__iconos.#{$redes}{
        background-image: url(images/footer/#{$redes}.png);
    }
}


footer{                                         /* FOOTER */ 
    display: grid;
    grid-template-columns: 1fr;
    background-color:#A5A58D;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .footer__info {
        text-align: center;
    }
        
}
.footer__info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: $margin-top;
    margin-bottom: $margin-botom - 1;
}
.footer__iconos--img{
    width: 2rem;
}