/*  ....................... INDEX ........................... */
@media (max-width: 767px) { /*para celular SECCION INDEX */

    .container__carrusel--boton{
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    .cardex__list {
        display: grid;
        grid-template-columns: 1fr;
        justify-items:center;
    }
    .cardex__list--item{
        width: 18rem;
    }
    .cardex__list--boton{
        text-transform: capitalize;
    }
    .iconos{
        grid-template-columns: 1fr;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .iconos .iconos__item .iconos__img{
        width: 8rem;
    }
    .iconos__texto{
        font-size: 1.3rem;
    }
    .video{
        display: none;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .registro{
        width: 100%;
    }
    .registro__texto{
        font-size: 1.5rem;
    }
    .registro__email{
        width: 15rem;
    }
    .registro__label{
        display: none;
    }
    .float {
        width: 45px;
        height: 45px;
        bottom: 25px;
        right: 25px;
    }
    
}
@media screen and (min-width: 568px) { 
    .carousel-dark{
        width: 50%;
    }
}/* MOBILE FIRST OK*/
@media(min-width: 768px){
    .cardex__list{
        grid-template-columns: repeat(2, 1fr);
    }
    .iconos{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .iconos__img {
        width: 8rem;
    }
    footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }
}
@media (min-width:1024px){
    .cardex__list{
        grid-template-columns: repeat(4, 1fr);

    }
    .iconos{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    footer{
        font-size: 1.2rem;
    }
    .video{
        margin-top: 3rem;
        margin-bottom: 10rem;
    }
}
 /* ............................ PRODUCTOS ................................*/
 @media screen and(min-width:320px){/*MOBILE FIRST*/
    .productos__contenedor {
        display: grid;
        grid-template-columns: 1fr;
    }
    #productos__new img{
        width: 20rem;
    }
    #productos__accesorios img{
        width: 20rem;
    }
    .productos__contenedor--item img{
        width: 20rem;
    }

    #productos__new h2{
        font-size: 3rem;
    }
    #productos__accesorios h2{
        font-size: 3rem;
    }
    #productos__hotsale h2{
        font-size: 3rem;
    }
    .cardex__list--item{
        width: 22rem;
    }
}
@media (min-width:768px){
    .productos__contenedor{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px){
    .productos__contenedor{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* ............................... TALLES Y MEDIDAS.............................*/
@media(min-width:320px){/*mobile first*/
    .talles{
        flex-direction: column;
    }
}
@media (min-width:768px){
    .talles{
    justify-content:space-evenly;
    flex-direction: row;
    }
}

/*footer*/
@media(min-width:320px){
    .footer__info{
        grid-template-columns: 1fr;
    }
    .footer__texto{
        font-size: 1.2rem;
    }
    
}
@media(min-width:1024px){
    .footer__info{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .footer__texto{
        font-size: 1.4rem;
    }
}
/* ......................contactanos.......................*/
@media(min-width:320px){/*mobile first*/
    .form-label{
        font-size: 1.6rem;
    }

      
}
/* ...............preguntas frecuentes ........................*/
@media(min-width:1024px){
    .preguntas__item--texto{
        font-size: 1.6rem;
    } 
}

