@import "variables.scss";
.talles{
    display: flex;
    justify-content: space-around;
    .talles__titulo{
        background-color: #FFB5A7;
        border: solid 1px black;
        .talles__titulo--item{
            border: solid 1px black;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .talles__main--item{
        text-align: center;
        border:solid 1px black;
        align-content: center;
    }
}

.table-hover{
    width:40vh;
}
.tabla__titular{
    background-color: $rosadifuminado; 
    text-align: center;
}
.tabla__subtitular{
    margin-top: $margin-top*5;  
}
